---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PluginCard from "../components/PluginCard.astro";

const title = "Top Most Detected Plugins by WordPress Detector";
const description = "An updated list with the most commonly detected plugins by WordPress Detector analyzed websites";

const quantity = 9;
const page = 1;
const response = await fetch(
  `https://api.wp-detector.com?type=top-plugins&quantity=${quantity}&page=${page}`
);
const data = await response.json();
const plugins = data.plugins;
---

<Layout title={title} description={description}>
  <Header />
  <section class="container">
    <h1 class="grid--title">Top Most Detected <span>Plugins</span></h1>
    <ul class="post--grid">
      {plugins.map((plugin) => <PluginCard plugin={plugin} />)}
    </ul>
  </section>
  <Footer />
</Layout>

<style is:global>
  .grid--title {
    font-size: 4rem;
    text-align: center;
    padding: 3rem 0;
  }

  .grid--title span {
    font-family: "EB Garamond";
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: -0.4rem;
      right: -0.8rem;
      height: 1rem;

      z-index: -1;
      background-image: url("/underline.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .post--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding-bottom: 3rem;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".card");
    cards.forEach((card) => {
      card.addEventListener("click", () => {
        const link = card.getAttribute("data-link");
        if (link) {
          window.open(link, "_blank");
        }
      });
    });
  });
</script>
