---
const { post } = Astro.props;
---

<article class="card border post-card">
  <a href={post.url}
    ><img
      src={post.frontmatter.image.source}
      alt={post.frontmatter.image.alt}
      class="post-card--image"
    /></a
  >
  <div class="post-card--info-container">
    <h2>
      <a href={post.url} class="post-card--title">{post.frontmatter.title}</a>
    </h2>

    <p class="post-card--description">{post.frontmatter.description}</p>

    <p class="post-card--meta">
      <a href={`/blog/author/${post.frontmatter.author.slug}`}
        >{post.frontmatter.author.name}</a
      > - <a href={`/blog/category/${post.frontmatter.category.slug}`}
        >{post.frontmatter.category.name}</a
      > - {post.frontmatter.minutes} min
    </p>
  </div>
</article>

<style>
  .post-card {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
  }

  .post-card--info-container {
    padding: 1.5rem;
    padding-top: 1rem;
  }

  .post-card--image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .post-card--title {
    font-size: 2rem;
    font-family: "EB Garamond";
    text-decoration: none;
  }

  .post-card--description {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
  }

  .post-card--meta {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }

  .post-card--meta a {
    text-decoration: none;
  }
</style>
