---
const { title, url, image, date, author, readingTime, description } =
  Astro.props;

const updatedDate = new Date(date).toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article class="card border post--card">
  <a href={url}
    ><img src={image.url} alt={image.alt} class="post--card--image" /></a
  >

  <h2 class="post--card--title"><a href={url}>{title}</a></h2>

  <p class="post--meta">
    <a href="/">{author}</a> - {updatedDate} - {readingTime} min read
  </p>

  <p>{description}</p>
</article>

<style>
  .post--card {
    overflow: hidden;
    border-radius: 8px;
  }

  .post--card--image {
    width: 100%;
    object-fit: contain;
  }
</style>
