---
const { url, image, title, description, author, category, minutes } =
  Astro.props;
---

<article class="card border post-card">
  <a href={url}
    ><img
      src={image.source}
      alt={image.alt}
      class="post-card--image"
    /></a
  >
  <div class="post-card--info-container">
    <h2><a href={url} class="post-card--title">{title}</a></h2>

    <p class="post-card--description">{description}</p>

    <p class="post-card--meta">
      <a href={`/blog/author/${author.slug}`}>{author.name}</a> - <a
        href={`/blog/category/${category.slug}`}>{category.name}</a
      > - {minutes} min
    </p>
  </div>
</article>

<style>
  .post-card {
    overflow: hidden;
    border-radius: 8px;
  }

  .post-card--info-container {
    padding: 1.5rem;
    padding-top: 1rem;
    position: relative;
  }

  .post-card--image {
    width: 100%;
    object-fit: contain;
  }

  .post-card--title {
    font-size: 2rem;
    font-family: "EB Garamond";
    text-decoration: none;
  }

  .post-card--description {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  .post-card--meta a {
    text-decoration: none;
  }
</style>
