---
const { theme } = Astro.props;
---

<div class="card card--hover border" data-link={theme.link}>
  <img src={theme.screenshot} alt="Theme Screenshot" class="card--banner card--banner__theme loading--skeleton" />
  <div class="card--info-container">
    <h4 class="card--title">{theme.title}</h4>
    {theme.author && <p>Author: <strong>{theme.author}</strong></p>}
    {theme.version && <p>Version: <span class="badge">{theme.version}</span></p>}
    {theme.website && theme.sanatizedWebsite && <p>Website: <a href={theme.website} target="_blank" rel="nofollow">{theme.sanatizedWebsite}</a></p>}
    {theme.lastUpdated && <p>Last Updated: <strong>{theme.lastUpdated}</strong></p>}
    {theme.activeInstallations && <p>Active Installations: <strong>{theme.activeInstallations}</strong></p>}
    {theme.reqWpVersion && <p>WordPress Version: <strong>{theme.reqWpVersion}</strong></p>}
    {theme.testedWpVersion && <p>Tested up To: <strong>{theme.testedWpVersion}</strong></p>}
    {theme.reqPhpVersion && <p>PHP Version: <strong>{theme.reqPhpVersion}</strong></p>}
    {theme.description && <p class="card--description"><strong>Description:</strong> {theme.description}</p>}
  </div>
  {theme.link && 
  <div class="cart--read-more--container">
    <span class="cart--read-more">
      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" height="25px" width="25px" >
        <path fill="currentColor" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" ></path>
      </svg>
      Read more
    </span>
  </div>}
</div>

<style is:global>
  .card {
    border-radius: 8px;
    background-color: #f8f8f8;
    overflow: hidden;
    margin-top: 1rem;
    transition: all 0.1s;
  }

  .card--hover:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .card--banner {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: -1rem;
    border-bottom: 1px solid #cbcbcb;
  }

  .card--icon {
    margin-right: 1rem;
    border-radius: 2px;
  }

  .card--info-container {
    padding: 1.5rem;
  }

  .card--info-container {
    padding: 1.5rem;
  }

  .card--title {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .card--description {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .cart--read-more--container {
    position: relative;
    height: 2.5rem;
  }

  .cart--read-more {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .cart--read-more:hover {
    color: #525252;
  }

  .badge {
    padding: 1px 5px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #213fd4;
  }
</style>